<h1>Welcome to IMDB-Clone</h1>
<div class="container">
  <p>Search for a movie</p>
  <form class="" action="/movies" method="post">
    <input type="text" name="movies[title]">
    <input type="submit" value="Find Movie">
  </form>
</div>
